 <footer class="site-footer">
        <div class="flex-group">
                <a href="https://www.instagram.com/theadalwolff/?r=nametag" class="fa-brands fa-instagram center" style="margin-right: 0.2em"></a>
                <a href="https://www.gofundme.com/f/safeguarding-ukraine?utm_campaign=p_cf+share-flow-1&utm_medium=copy_link&utm_source=customer" class="fa-brands fa-instagram center" style="margin-left: 0.2em"></a>
        </div>
        <img viewBox="0 0 114 26.6" class="logo center" width="150rem" src="/assets/logo-transparentbg.png">
</footer>