 <footer class="site-footer">
        <img viewBox="0 0 114 26.6" class="logo center" width="150rem" src="/public/assets/logo-transparentbg.png">
        <p>© 2020 Company Name. All rights reserved.</p>
</footer>