 <header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
        <img viewBox="0 0 114 26.6" class="logo" width="150rem" src="assets/logo-transparentbg.png">
      </div>
      <nav>
        
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Latest</a>
          </li>
          <li>
            <a href="/reports/">Reports</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>